    .guarantee {
        width: 40%;
        padding: 10%;
        line-height: 40px;
        padding-left: 20%;
        margin: auto;
        text-align: center;
        border-color: #FFFFFF;
        border-width: 3px;
        border-style: dotted;
        background-color: aquamarine;
        background-image: url(images/high-school.png);
        background-repeat: no-repeat;
    }
